<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Temperature</title>
    <link rel="stylesheet" href="/style/index.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
    
<body>
  <div>
    <div id="container">  
    </div>
   </div>
  <div class="city-country">City and Country</div>

  <div> 
    <form  method="post">
      <label for="scoreInput">Score:</label>
      <input class="position" type="text" id="locationInput" name="location">
      <button class="button" id="get" type="submit" value="Search" formaction="/post-location"><img src="/images/search.png" width="30px" height="30px"></button>
    </form>
    <div class="weather"><img src="/images/cloudy.png" width="350px" height="350px"></div>
  </div>
  
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/style/style2.js"></script>  
</html>
